@use "./partials/reset";
@use "./partials/header";
@use "./partials/footer";

main {
  .container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    // padding-bottom: 50px;

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 641px) and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    .post {
      width: 100%;
      margin: 20px 0;
      height: auto;

      @media (max-width: 640px) {
        &:last-child {
          margin-bottom: 100px;
        }
      }
      @media (min-width: 641px) and (max-width: 1024px) {
        &:nth-child(5) {
          margin-bottom: 50px;
        }
        &:nth-child(6) {
          margin-bottom: 50px;
        }
      }
      @media (min-width: 1025px) {
        &:nth-child(4) {
          margin-bottom: 50px;
        }
        &:nth-child(5) {
          margin-bottom: 50px;
        }
        &:nth-child(6) {
          margin-bottom: 50px;
        }
      }

      img {
        width: 100%;
        height: 60%;
      }

      a {
        color: #0080ff;
        font-size: 1.1rem;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
