body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;

  .container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 70px;
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 100%;
        height: 50%;
      }
      h1 {
        color: #222;
      }
    }
    .navbar {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 40px;

      ul {
        list-style: none;
        display: flex;
        gap: 40px;

        li {
          text-decoration: none;

          a {
            text-decoration: none;
            color: #000;
            font-size: 1.1rem;
            font-weight: 300;

            &:hover {
              color: #707070;
            }
          }
        }
      }
      .menuIcon {
        display: none;
        cursor: pointer;
      }
    }
    @media (max-width: 768px) {
      .navbar {
        ul {
          position: fixed;
          top: 0;
          left: -100%;
          height: 100vh;
          width: 260px;
          margin: 0;
          padding-top: 40px;
          display: flex;
          justify-items: center;
          flex-direction: column;
          background-color: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(10px);
          transition: all 0.8s;

          li {
            a {
              color: #fff;

              &:hover {
                color: #e0e0e0;
              }
            }
          }
        }
        .open {
          left: 0;
        }
        .menuIcon {
          display: block;
        }
      }
    }
  }
}

.section1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/robots/backgroundSection1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;

  @media (max-width: 640px) {
    height: 80vh;
  }

  .text {
    width: 55%;
    color: #fff;

    @media (max-width: 640px) {
      width: 65%;
    }

    span {
      font-size: 9rem;
      color: #94b3b3;
    }

    h1 {
      font-size: 6rem;
      margin: 0 0 1rem 0.5rem;
    }
    p {
      width: 80%;
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }

    @media (max-width: 640px) {
      span {
        display: none;
      }
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }

    @media (min-width: 641px) and (max-width: 800px) {
      span {
        display: block;
        font-size: 6rem;
      }
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.5rem;
      }
    }

    @media (min-width: 801px) and (max-width: 1024px) {
      h1 {
        font-size: 5rem;
      }
    }
  }
}

.section2 {
  width: 90%;
  height: 100vh;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 800px) {
    flex-direction: column;
    margin: 100px auto 250px auto;
  }

  .text {
    width: 50%;

    @media (max-width: 800px) {
      width: 100%;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 100;
      line-height: 1.7rem;
    }

    @media (max-width: 640px) {
      p {
        font-size: 1rem;
      }
    }
  }

  .image {
    width: 45%;

    @media (max-width: 800px) {
      width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.section3 {
  height: auto;
  padding: 50px 0;
  background-image: linear-gradient(to right, #1a1a1a 0, #1a1a1a 50%, #9abfbf 50%);
  color: #fff;

  .container {
    width: 80%;
    margin: auto;

    h1 {
      font-size: 2rem;
    }

    p {
      width: 40%;
      font-style: italic;
      line-height: 2rem;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding-top: 20px;

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
      }

      @media (min-width: 501px) and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .wrapper-image {
        width: auto;
        height: 150px;
        display: initial;
        overflow: hidden;

        @media (max-width: 500px) {
          height: auto;
        }

        @media (min-width: 501px) and (max-width: 800px) {
          height: auto;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.section4 {
  height: auto;
  padding: 50px 0;

  .container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 769px) and (max-width: 1023px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 2fr;
    }

    .left {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;

      .title {
        font-size: 2rem;
        color: #fff;
        background-color: #aea16a;
        padding-left: 2rem;
      }
      .image {
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .right {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;

      @media (min-width: 640px) {
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        grid-template-columns: 1fr;
      }

      .people {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .text {
        background: #9abfbf;
        display: flex;
        align-items: center;
        padding: 20px;
        font-size: 1rem;
        font-weight: 200;
        line-height: 1.9rem;
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    button {
      background: #9abfbf;
      border: none;
      padding: 10px 20px;
      font-weight: 500;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        background: #b4cfcf;
        color: #fff;
      }
    }
  }
}

.section5 {
  background-color: #333333;

  .container {
    width: 80%;
    margin: auto;
    padding: 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 769px) and (max-width: 1023px) {
      grid-template-columns: 1fr 1fr;
    }

    .card {
      .image {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
        }
      }
      h2 {
        color: #aea16a;
        font-size: 2rem;
        font-weight: 400;
      }
      p {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 200;
        line-height: 35px;
      }
    }
  }
}

.section6 {
  .container {
    width: 80%;
    margin: auto;
    padding: 60px 0;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
      color: #aea16a;
      font-size: 3rem;
    }

    p {
      max-width: 80%;
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 30px;
      margin-bottom: 60px;

      @media (max-width: 640px) {
        max-width: 100%;
      }
    }
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }

    .wrapper-image {
      width: auto;

      @media (max-width: 500px) {
        height: auto;
      }

      @media (min-width: 501px) and (max-width: 800px) {
        height: auto;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.section7 {
  background-color: #000;

  .container {
    width: 90%;
    margin: auto;
    padding: 40px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @media (max-width: 768px) {
      gap: 0px;
    }

    .bar {
      span {
        font-size: 14rem;
        color: #aea16a;
      }

      @media (max-width: 768px) {
        span {
          font-size: 20rem;
          font-weight: 100;
        }
      }
    }
    .text {
      color: #fff;

      img {
        width: 4rem;
      }

      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 1rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.7rem;
      }

      @media (max-width: 640px) {
        p {
          font-size: 1rem;
        }
      }

      .author {
        text-align: end;
        font-weight: 700;
      }
    }
  }
}

.section8 {
  background-color: #abd3d3;

  .container {
    width: 90%;
    margin: auto;
    padding: 40px 0;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .image {
      width: 100%;

      @media (min-width: 769px) and (max-width: 1023px) {
        width: auto;
      }

      img {
        width: 100%;
      }
    }

    .text {
      padding: 40px;
      width: 80%;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.7rem;
      }

      button {
        background: #86a6a6;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-weight: 500;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          background: #7f9191;
          color: #fff;
        }
      }
    }
  }
}
