@use "./partials/reset";
@use "./partials/header";
@use "./partials/footer";
@use "./partials/variables";

@mixin container {
  width: 90%;
  margin: auto;
}

@mixin button {
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.5s;
  cursor: pointer;
}

.section1 {
  width: 100%;
  height: 100vh;
  background: no-repeat bottom/cover url("../assets/images/robots/backgroundSection1.jpg");
  display: flex;
  justify-content: end;
  align-items: center;

  @media (max-width: 640px) {
    height: 80vh;
  }

  .text {
    width: 55%;
    color: #fff;

    @media (max-width: 640px) {
      width: 70%;
    }

    span {
      font-size: 9rem;
      color: #94b3b3;
    }

    h1 {
      font-size: 6rem;
      margin: 0 0 1rem 0.5rem;
    }
    p {
      width: 80%;
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }

    @media (max-width: 640px) {
      span {
        display: none;
      }
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }

    @media (min-width: 641px) and (max-width: 800px) {
      span {
        display: block;
        font-size: 6rem;
      }
      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.5rem;
      }
    }

    @media (min-width: 801px) and (max-width: 1024px) {
      h1 {
        font-size: 5rem;
      }
    }
  }
}

.section2 {
  @include container;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  @media (max-width: 800px) {
    flex-direction: column;
    margin: 100px auto 250px auto;
  }

  .text {
    width: 50%;

    @media (max-width: 800px) {
      width: 100%;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 100;
      line-height: 1.7rem;
    }

    @media (max-width: 640px) {
      p {
        font-size: 1rem;
      }
    }
  }

  .image {
    width: 45%;

    @media (max-width: 800px) {
      width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.section3 {
  height: auto;
  padding: 50px 0;
  background-image: linear-gradient(
    to right,
    variables.$primary-color 0,
    variables.$primary-color 50%,
    variables.$second-color 50%
  );
  color: #fff;

  .container {
    @include container;

    h1 {
      font-size: 2rem;
    }

    p {
      width: 40%;
      font-style: italic;
      line-height: 2rem;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      padding-top: 20px;

      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        gap: 10px;
      }

      @media (min-width: 501px) and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
      }

      .wrapper-image {
        width: auto;
        height: 150px;
        display: initial;
        overflow: hidden;

        @media (max-width: 800px) {
          height: auto;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.section4 {
  height: auto;
  padding: 50px 0;

  .container {
    @include container;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 769px) and (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 2fr;
    }

    .left {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;

      .title {
        font-size: 2rem;
        color: #fff;
        background-color: variables.$third-color;
        padding-left: 2rem;
      }
      .image {
        width: 100%;
        height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .right {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;

      @media (min-width: 640px) {
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        grid-template-columns: 1fr;
      }

      .people {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .text {
        background: variables.$second-color;
        display: flex;
        align-items: center;
        padding: 20px;
        font-size: 1rem;
        font-weight: 200;
        line-height: 1.9rem;
      }
    }
  }
  .button {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    a {
      @include button;
      color: #000;
      background: variables.$second-color;

      &:hover {
        background: variables.$fourth-color;
        color: #fff;
      }
    }
  }
}

.section5 {
  background-color: variables.$primary-color;

  .container {
    @include container;

    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    @media (min-width: 769px) and (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .card {
      .image {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 100%;
        }
      }

      h2 {
        color: variables.$third-color;
        font-size: 2rem;
        font-weight: 400;
      }

      p {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 200;
        line-height: 35px;
      }
    }
  }
}

.section6 {
  .container {
    @include container;
    padding: 60px 0;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h2 {
      color: variables.$third-color;
      font-size: 3rem;
    }

    p {
      max-width: 80%;
      margin-bottom: 60px;
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 30px;

      @media (max-width: 640px) {
        max-width: 100%;
      }
    }
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    .wrapper-image {
      width: auto;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.section7 {
  background-color: #000;

  .container {
    @include container;

    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @media (max-width: 768px) {
      gap: 0px;
    }

    .bar {
      span {
        font-size: 14rem;
        color: variables.$third-color;
      }

      @media (max-width: 768px) {
        span {
          font-size: 20rem;
          font-weight: 100;
        }
      }
    }
    .text {
      color: #fff;

      img {
        width: 4rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.7rem;
      }

      @media (max-width: 640px) {
        p {
          font-size: 1rem;
        }
      }

      .author {
        text-align: end;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
  }
}

.section8 {
  background-color: variables.$second-color;

  .container {
    @include container;

    padding: 80px 0;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .text {
      padding: 40px;
      width: 80%;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.7rem;
        padding-bottom: 20px;
      }

      a {
        @include button;
        background: variables.$fourth-color;
        color: #fff;

        &:hover {
          background: variables.$fifth-color;
          color: #fff;
        }
      }
    }
  }
}

.section9 {
  background-color: #fff;

  .container {
    @include container;

    padding: 80px 0;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .text {
      padding: 40px;
      width: 80%;

      h3 {
        margin-bottom: -10px;
        letter-spacing: 2px;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.7rem;
        padding-bottom: 20px;
      }

      a {
        @include button;
        background: variables.$fifth-color;
        color: #fff;

        &:hover {
          background: variables.$fourth-color;
          color: #fff;
        }
      }
    }
  }
}
