@use "./partials/reset";
@use "./partials/header";
@use "./partials/footer";
@use "./partials/variables";

main {
  .container {
    width: 80%;
    margin: auto;

    padding: 50px 0;

    img {
      width: 100%;
    }

    h2 {
      font-size: 2rem;
    }
    .date {
      color: variables.$fifth-color;
    }

    p {
      margin-top: 30px;
      font-size: 1.1rem;
    }

    span {
      color: #0080ff;
    }
  }
}
