@use "./partials/reset";
@use "./partials/header";
@use "./partials/footer";
@use "./partials/variables";

@mixin container {
  width: 90%;
  margin: auto;
}

.section1 {
  .container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      width: 70%;
      text-align: center;
      font-size: 1.2rem;
      line-height: 30px;
      font-weight: 300;
      margin: 50px 0;
    }

    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      gap: 20px;

      @media (max-width: 640px) {
        grid-template-columns: 1fr;
      }

      .container-image {
        display: flex;
        justify-content: center;

        @media (min-width: 640px) {
          display: block;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}

.section2 {
  background-color: variables.$black-color;

  .container {
    @include container;
    padding: 40px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @media (max-width: 768px) {
      gap: 0px;
    }

    .text {
      color: variables.$white-color;

      img {
        width: 4rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.7rem;
      }

      @media (max-width: 640px) {
        p {
          font-size: 1rem;
        }
      }

      .author {
        text-align: end;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
  }
}

.section3 {
  background-color: #8badad;
  color: #fff;

  .container {
    @include container;
    padding: 80px 0;
    display: flex;
    align-items: center;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    .image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .text {
      padding: 40px;
      width: 80%;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.2rem;
        font-weight: 100;
        line-height: 1.7rem;
      }
    }
  }
}

.section4 {
  .container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;

    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      gap: 20px;

      @media (max-width: 640px) {
        grid-template-columns: 1fr;
      }

      .container-image {
        display: flex;
        justify-content: center;

        @media (min-width: 640px) {
          display: block;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}
