@use "./variables";

footer {
  color: #fff;
  text-align: center;

  .footer-top {
    background-color: variables.$fifth-color;
    padding: 3rem 0;

    p {
      width: 80%;
      margin: auto;
      font-weight: 200;
      font-size: 1.1rem;
      line-height: 30px;
    }
    div {
      margin-top: 50px;

      a {
        text-decoration: none;

        img {
          width: 20px;
          padding-right: 10px;
          transition: all 0.5s;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .footer-bottom {
    background-color: variables.$primary-color;
    padding: 20px 0;

    p {
      font-weight: 200;
      font-size: 1.1rem;
    }
  }
}
