body {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
}
header .container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo {
  width: 70px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container .logo img {
  width: 100%;
  height: 50%;
}
header .container .logo h1 {
  color: #222;
}
header .container .navbar {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 40px;
}
header .container .navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
header .container .navbar ul li {
  text-decoration: none;
}
header .container .navbar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  font-weight: 300;
}
header .container .navbar ul li a:hover {
  color: #707070;
}
header .container .navbar .menuIcon {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container .navbar ul {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 260px;
    margin: 0;
    padding-top: 40px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    transition: all 0.8s;
  }
  header .container .navbar ul li a {
    color: #fff;
  }
  header .container .navbar ul li a:hover {
    color: #e0e0e0;
  }
  header .container .navbar .open {
    left: 0;
  }
  header .container .navbar .menuIcon {
    display: block;
  }
}

footer {
  color: #fff;
  text-align: center;
}
footer .footer-top {
  background-color: #0f2254;
  padding: 3rem 0;
}
footer .footer-top p {
  width: 80%;
  margin: auto;
  font-weight: 200;
  font-size: 1.1rem;
}
footer .footer-top div {
  margin-top: 50px;
}
footer .footer-top div img {
  width: 20px;
  padding-right: 10px;
  transition: all 0.5s;
}
footer .footer-top div img:hover {
  transform: scale(1.2);
}
footer .footer-bottom {
  background-color: #000000;
  padding: 20px 0;
}

.section1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/robots/backgroundSection1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (max-width: 640px) {
  .section1 {
    height: 80vh;
  }
}
.section1 .text {
  width: 55%;
  color: #fff;
}
@media (max-width: 640px) {
  .section1 .text {
    width: 65%;
  }
}
.section1 .text span {
  font-size: 9rem;
  color: #94b3b3;
}
.section1 .text h1 {
  font-size: 6rem;
  margin: 0 0 1rem 0.5rem;
}
.section1 .text p {
  width: 80%;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
@media (max-width: 640px) {
  .section1 .text span {
    display: none;
  }
  .section1 .text h1 {
    font-size: 2rem;
  }
  .section1 .text p {
    font-size: 1rem;
  }
}
@media (min-width: 641px) and (max-width: 800px) {
  .section1 .text span {
    display: block;
    font-size: 6rem;
  }
  .section1 .text h1 {
    font-size: 4rem;
  }
  .section1 .text p {
    font-size: 1.5rem;
  }
}
@media (min-width: 801px) and (max-width: 1024px) {
  .section1 .text h1 {
    font-size: 5rem;
  }
}

.section2 {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 800px) {
  .section2 {
    flex-direction: column;
    margin: 100px auto 250px auto;
  }
}
.section2 .text {
  width: 50%;
}
@media (max-width: 800px) {
  .section2 .text {
    width: 100%;
  }
}
.section2 .text h1 {
  font-size: 2.5rem;
}
.section2 .text h2 {
  font-size: 1rem;
}
.section2 .text p {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.7rem;
}
@media (max-width: 640px) {
  .section2 .text p {
    font-size: 1rem;
  }
}
.section2 .image {
  width: 45%;
}
@media (max-width: 800px) {
  .section2 .image {
    width: 100%;
  }
}
.section2 .image img {
  max-width: 100%;
  height: auto;
}

.section3 {
  height: auto;
  padding: 50px 0;
  background-image: linear-gradient(to right, #1a1a1a 0, #1a1a1a 50%, #9abfbf 50%);
  color: #fff;
}
.section3 .container {
  width: 80%;
  margin: auto;
}
.section3 .container h1 {
  font-size: 2rem;
}
.section3 .container p {
  width: 40%;
  font-style: italic;
  line-height: 2rem;
}
@media (max-width: 768px) {
  .section3 .container p {
    width: 100%;
  }
}
.section3 .container .wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 20px;
}
@media (max-width: 500px) {
  .section3 .container .wrapper {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .section3 .container .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section3 .container .wrapper .wrapper-image {
  width: auto;
  height: 150px;
  display: initial;
  overflow: hidden;
}
@media (max-width: 500px) {
  .section3 .container .wrapper .wrapper-image {
    height: auto;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .section3 .container .wrapper .wrapper-image {
    height: auto;
  }
}
.section3 .container .wrapper .wrapper-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section4 {
  height: auto;
  padding: 50px 0;
}
.section4 .container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
@media (max-width: 768px) {
  .section4 .container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .section4 .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .section4 .container {
    grid-template-columns: 1fr 2fr;
  }
}
.section4 .container .left {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.section4 .container .left .title {
  font-size: 2rem;
  color: #fff;
  background-color: #aea16a;
  padding-left: 2rem;
}
.section4 .container .left .image {
  width: 100%;
  height: 100%;
}
.section4 .container .left .image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section4 .container .right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
@media (min-width: 640px) {
  .section4 .container .right {
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section4 .container .right {
    grid-template-columns: 1fr;
  }
}
.section4 .container .right .people {
  width: 100%;
  height: 100%;
}
.section4 .container .right .people img {
  width: 100%;
  height: 100%;
}
.section4 .container .right .text {
  background: #9abfbf;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.9rem;
}
.section4 .button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.section4 .button button {
  background: #9abfbf;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
}
.section4 .button button:hover {
  background: #b4cfcf;
  color: #fff;
}

.section5 {
  background-color: #333333;
}
.section5 .container {
  width: 80%;
  margin: auto;
  padding: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}
@media (max-width: 768px) {
  .section5 .container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .section5 .container {
    grid-template-columns: 1fr 1fr;
  }
}
.section5 .container .card .image {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section5 .container .card .image img {
  width: 100%;
}
.section5 .container .card h2 {
  color: #aea16a;
  font-size: 2rem;
  font-weight: 400;
}
.section5 .container .card p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 35px;
}

.section6 .container {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}
.section6 .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section6 .text h2 {
  color: #aea16a;
  font-size: 3rem;
}
.section6 .text p {
  max-width: 80%;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 60px;
}
@media (max-width: 640px) {
  .section6 .text p {
    max-width: 100%;
  }
}
.section6 .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
}
@media (max-width: 640px) {
  .section6 .wrapper {
    grid-template-columns: 1fr;
  }
}
.section6 .wrapper .wrapper-image {
  width: auto;
}
@media (max-width: 500px) {
  .section6 .wrapper .wrapper-image {
    height: auto;
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .section6 .wrapper .wrapper-image {
    height: auto;
  }
}
.section6 .wrapper .wrapper-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section7 {
  background-color: #000;
}
.section7 .container {
  width: 90%;
  margin: auto;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .section7 .container {
    gap: 0px;
  }
}
.section7 .container .bar span {
  font-size: 14rem;
  color: #aea16a;
}
@media (max-width: 768px) {
  .section7 .container .bar span {
    font-size: 20rem;
    font-weight: 100;
  }
}
.section7 .container .text {
  color: #fff;
}
.section7 .container .text img {
  width: 4rem;
}
.section7 .container .text h1 {
  font-size: 2.5rem;
}
.section7 .container .text h2 {
  font-size: 1rem;
}
.section7 .container .text p {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.7rem;
}
@media (max-width: 640px) {
  .section7 .container .text p {
    font-size: 1rem;
  }
}
.section7 .container .text .author {
  text-align: end;
  font-weight: 700;
}

.section8 {
  background-color: #abd3d3;
}
.section8 .container {
  width: 90%;
  margin: auto;
  padding: 80px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .section8 .container {
    flex-direction: column;
  }
}
.section8 .container .image {
  width: 100%;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .section8 .container .image {
    width: auto;
  }
}
.section8 .container .image img {
  width: 100%;
}
.section8 .container .text {
  padding: 40px;
  width: 80%;
}
.section8 .container .text h2 {
  font-size: 2rem;
}
.section8 .container .text p {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.7rem;
}
.section8 .container .text button {
  background: #86a6a6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
}
.section8 .container .text button:hover {
  background: #7f9191;
  color: #fff;
}

.section9 {
  background-color: #fff;
}
.section9 .container {
  width: 90%;
  margin: auto;
  padding: 80px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .section9 .container {
    flex-direction: column;
  }
}
.section9 .container .image {
  width: 100%;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .section9 .container .image {
    width: auto;
  }
}
.section9 .container .image img {
  width: 100%;
}
.section9 .container .text {
  padding: 40px;
  width: 80%;
}
.section9 .container .text h3 {
  margin-bottom: -10px;
  letter-spacing: 2px;
}
.section9 .container .text h2 {
  font-size: 2rem;
}
.section9 .container .text p {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.7rem;
}
.section9 .container .text button {
  background: #86a6a6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.5s;
  cursor: pointer;
}
.section9 .container .text button:hover {
  background: #7f9191;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
